
.introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3e7d7d;
  color: white;
}

.title {
  font-size: 42px;
  margin-bottom: 24px;
}

.description {
  font-size: 24px;
  margin-bottom: 48px;
}

.explore-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-button {
  width: 200px;
  height: 50px;
  background-color: white;
  color: #3e7d7d;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.explore-button:hover {
  background-color: #3e7d7d;
  color: white;
}
